{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {% for key in keys %}
    <h2 id="{{ key }}" class="segment-name-2">{{ key }}</h2>
      {% assign items = site.posts | where: field, key %}
      {% assign filter2 = '%m' %}
      {% assign split_mark = '<|>' %}
      {% assign dates = '' %}
      {% for item in items %}
        {% assign name = item.date | date: filter2 %}
        {% assign dates = dates | append: split_mark  | append: name %}
      {% endfor %}
      {% assign dates2 = dates| remove_first: split_mark
      | split: split_mark
      | reverse
      | uniq%}
<!--      按月进行索引 -->
      {% for key2 in dates2 %}
          <div><em>{{ key2 }}</em></div>

          {% for item in items %}
          {% if item != nil %}
<!--          {{ item.date| date: "%Y/%m"  }}-->
          {% assign month = item.date | date: '%m' %}
          {% if month == key2 %}
          <li> {% include views/post-item.html %} </li>

          {% endif %}
          {% endif %}
          {% endfor %}
      {% endfor %}
    <br/>
    {% endfor %}
  </ul>
</div>
